@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
  background-color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  background: linear-gradient(0deg, #4A2800 0%, #000000 99%);
  width: 100%;
  overflow-x: hidden;
}

.con,
.hero-con {
  width: 1400px;
  margin: auto;
}

header {
  padding: 50px;
}

header .logo,
footer .block .logo {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
}

header nav {
  float: right;
  width: 50%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: white;
}

header nav ul li.active::after {
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  background: #DC7000;
  border-radius: 10px;
  position: relative;
  top: 10px;
  left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
  border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a,
.con .block button {
  background: #FA9021;
  padding: 9px 17px;
  border-radius: 5px;
  border-style: none;
  transition: all 500ms ease;
}

header nav ul li.btn a:hover,
.con .block button:hover {
  background-color: #a02604;
}

.hero-con {
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.hero--info {
  width: 530px;
  padding-top: 70px;
}

.hero--info h2 {
  color: #E67D0E;
  font-size: 20px;
  font-weight: 600;
}

.hero--info h1 {
  font-size: 50px;
  font-weight: 600;
}

.hero--info p {
  line-height: 170%;
  font-weight: 500;
  margin: 30px 0;
}

.hero--info .btn,
.hero-about .info .btn {
  background: #FA8305;
  color: white;
  border-radius: 50px;
  padding: 15px 30px;
  border: 0;
  transition: all 500ms ease;
  font-size: 17px;
}

.hero--info .btn:hover,
.hero-about .info .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hero-con img {
  position: absolute;
  top: -150px;
  right: 0;
}








.trending {
  padding-top: 50px;
  width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
}

.trending h3 {
  font-weight: 600;
  font-size: 31px;
}

.trending .see-all,
.projects .see-all {
  color: white;
  background-color: #25211D;
  border-radius: 5px;
  padding: 12px 23px;
  float: right;
  display: block;
  transition: all 500ms ease;
}

.trending .see-all:hover,
.projects .see-all:hover {
  transform: scale(1.1);
}

.trending .games {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0px;
}

.trending .games span {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.trending .games span img {
  position: relative;
  top: 5px;
  margin-right: 2px;
}

.big-text {
  padding: 50px 0;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

.banner {
  width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}

.banner h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: left;
}

.banner p {
  line-height: 1.7;
  margin-bottom: 30px;
  max-width: 700px;
  text-align: left;
}

.banner img {
  display: block;
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}








.features {
  background: url(image/Rectangle\ 5.png) no-repeat center center fixed;
  background-size: cover;
  padding: 80px 0;
}

.features h3,
.features p {
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.features h3 {
  font-size: 30px;
}

.features .info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features .info .block {
  text-align: center;
  width: 20%;
  margin: 30px 2%;
}

.features .info .block img {
  margin-bottom: 15px;
}

.projects {
  padding: 100px 0;
}

.projects h3 {
  text-align: center;
  font-size: 30px;
}

.projects p {
  text-align: center;
  margin: 40px 0;
}

.projects .images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.projects .see-all {
  float: none;
  width: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.con .block.email {
  margin-bottom: 120px;
}

.email h3 {
  margin-top: 60px;
  font-size: 30px;
}

.con .block {
  background-color: #1C140F;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 3%;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email p {
  width: 550px;
}

.con .block h4 {
  font-size: 30px;
  font-weight: 500;
}

.con .block p {
  width: 500px;
}

.con .block input {
  background: white;
  outline: none;
  border: 0;
  border-radius: 5px;
  width: 380px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 20px 30px;
  position: relative;
  right: -97px;
  z-index: 1;
  padding-right: 120px;
}

.con .block input::placeholder {
  color: #898989;
}

.con .block button {
  padding: 12px 16px;
  position: relative;
  z-index: 2;
  color: white;
}








.hero-about {
  position: relative;
}

.hero-about .info {
  width: 500px;
  padding: 250px 0;
}

.hero-about .info h1 {
  margin-bottom: 15px;
  font-size: 30px;
}

.hero-about .info .btn {
  margin-top: 20px;
}

.hero-about img {
  position: absolute;
  right: -260px;
  top: 0;
}

.work {
  padding: 80px 0;
}

.work h2 {
  font-size: 25px;
  margin-bottom: 40px;
}

.work .blocks {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.work .blocks .block {
  flex: 1;
  min-width: 300px;
  background: #1C140F;
  border-radius: 10px;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: left;
}

.work .blocks .block p {
  width: 70%;
  padding-top: 20px;
  font-size: 14px;
}

.work .blocks .block .badge {
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 14px;
}

.work .blocks .block .badge.purple {
  background: #560f67;
}

.work .blocks .block .badge.brown {
  background: #31190d;
}

.work .blocks .block .badge.green {
  background: #192a1d;
}

.work .blocks .block h3 {
  padding-top: 20px;
}









.hero-contacts h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 30px;
}

.hero-contacts p {
  text-align: center;
}

.hero-contacts img {
  width: 70%;
  margin: 80px 15%;
}

.feedback {
  padding: 70px 0;
  background: #1c140f;
}

.feedback h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.feedback p {
  text-align: center;
  margin-top: 10px;
}

.feedback form {
  margin: 80px auto;
  width: 600px;
}

.feedback form .inline {
  display: flex;
  justify-content: space-between;
}

.feedback form .inline>div {
  width: 50%;
}

.feedback form label {
  color: #4F4F4F;
  font-size: 14px;
}

.feedback form input,
.feedback form textarea {
  background: #2c2420;
  border-radius: 10px;
  border-radius: 0.6px solid #CECECE;
  display: block;
  width: 90%;
  padding: 15px 10px;
  outline: none;
  color: white;
  margin-top: 7px;
  margin-bottom: 20px;
}

.feedback form .one-line {
  width: 96%;
}

.feedback form textarea {
  resize: none;
  height: 200px;
}

.feedback form button {
  background-color: #DC7000;
  border-radius: 5px;
  border: 0;
  float: right;
  cursor: pointer;
  padding: 15px 35px;
  color: white;
  transition: all 500ms ease;
}

.feedback form button:hover {
  background: rgb(146, 36, 17);
}










.text-info {
  padding: 10px 0;
  text-align: center;
}

.text-info p {
  font-size: 16px;
  margin-top: 20px;
}

.text-info h2 {
  font-size: 33px;
}

.blocks-info {
  background-color: #1C140F;
  margin-top: 30px;
  border-radius: 10px;
  padding: 25px 5%;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

 
}

.blocks-info .bebra {
  width: 10%;
   text-align: center;
 
  
}

.blocks-info .bebra img  {
 height: 50px;
}

.blocks-info .bebra h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  
}


.blocks-info .bebra p {
  font-size: 14px;
  margin: 5px 0 0;
  opacity: 0.8;
}




.video {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: nowrap;
}

.video img {
  width: 650px;
}


.video h2 {
  font-size: 30px;
  padding: 20px 0;
  width: 380px;

}

.video p {
  font-size: 14px;
  width: 430px;
   padding: 20px 0;
  
}



.video ul {
   font-size: 14px;
   direction: none;
    list-style-type: none; 

}
.video ul li {
  padding: 10px 0;
    font-size: 14px;
align-items: center;
gap: 10px;

}
.video ul li img {
  width: 25px;
  padding-right: 10px;
  position: relative;
  top: 8px;
}








.read-more {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;

}

.read-mor img {
  width: 500px;
  text-align: left;
}

.read-more .text-rad-more {
padding-left: 100px;

}

.read-more .text-rad-more h2 {
 width: 470px;
margin-bottom: 20px;
}

.read-more .text-rad-more p {
  width: 530px;
   margin-bottom: 20px;
}


.read-more .text-rad-more button {
  padding: 15px 0;
  width: 150px;
  background-color: #DC7000;
  border-radius: 5px;
  border: none;
  color: white;
   transition: all 500ms ease;
   margin-top: 30px;
}

.read-more .text-rad-more button:hover {
  background: rgb(146, 36, 17);
}





.input-news {
    margin: 70px 0;
    display: flex;
    justify-content: center; 
}

.input-news input {
    position: relative;
    background-color: #1C140F;
    border: none;
    color: white;
    width: 300px;
    padding: 10px 10px 10px 40px; 
    border-radius: 10px;


    background-image: url("image/search\ 1.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px 16px;
}

.input-news input::placeholder {
    color: white;
    opacity: 0.7;
}



.big-news img {
  width: 557px;
}

.text-news {
  display: flex;
  margin: 10px 5px;
  
}

.text-news button {
  background: #2351F5;
  color: white;
  border: 0;
  border-radius: 0;
  padding: 10px 0;
  width: 160px;
}

.news-p {
  width: 44px;
  font-size: 15px;
margin-top: 6px;
margin-left: 10px;
}


.text-h2 {
  padding: 10px;
}


.text-h2  {
  width: 570px;
 
}

.text-h2 p {
  padding-top: 30px;
}


.news-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.big-news {
  width: 60%;
  
}

.news-side {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 40px;
   margin-top: -50px;
}

.news-item img {
    width: 100%;
    border-radius: 10px;
    
}



.news-meta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.news-meta .author {
    padding: 8px 15px;
    border: 0;
    color: white;
}

.news-meta .author.blue {
    background: #2351F5;
}

.news-meta .author.pink {
    background: #FF8484;
}

.news-meta .author.orange {
  background: #FF7C32;
}

.news-meta .author.green {
  background: #23A54F;
}

.news-meta .author.purple {
  background: #9921C3;
}


.news-meta .time {
    font-size: 14px;
    opacity: 0.8;
}

.news-item h2 {
    font-size: 20px;
    line-height: 1.3;
    width: 300px;
}

.news-item {
   
    padding: 25px 0;
    border-radius: 10px;
    display: flex;          
    gap: 20px;              
    align-items: flex-start;
}


.big-news2 {
  margin-top: 170px;
}










footer {
  background: #070707;
  padding: 50px 0;
  margin-top: 80px;
}

footer .block {
  display: flex;
  justify-content: space-between;
}

footer .block p {
  width: 350px;
  margin: 15px 0;
}

footer .block h4 {
  font-weight: 500;
  font-size: 17px;
}

footer .block ul {
  list-style: none;
}

footer .block ul li {
  margin-top: 7px;
  opacity: 0.8;
}

footer hr {
  margin: 30px 0;
  border: 0;
  height: 0.6px;
  background: gray;
}

footer>p {
  text-align: center;
}
